.sa {
    background-color: rgb(250, 250, 250);
    color: blue;
    text-align: center;
}

.sb {
    background-color: gray;
}

.sc {
    background-color: black!important;
    color: white!important;
    width: 100%;
    height: 500%;
}

.x {
    background-color: firebrick;
}